body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #80BEAF;
  text-align: center;
  margin: 40px auto 60px;
}

h2:after {
  content: " ";
  display: block;
  width: 60px;
  height: 4px;
  background: #80BEAF;
  margin: 5px 0;
  margin-left: calc(50% - 30px);
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header Redes Sociais*/

.container {
  width: 85%;
  margin: 0 auto;
}

.redes-sociais-header {
  background: #F5B994;
  height: 60px;
}

.redes-sociais-header ul {
  display: flex;
}

.redes-sociais-header ul li { 
  padding: 10px 15px 10px 0px;
}

.redes-sociais-header img { 
  max-width: 40px;
}

/* Header */

.menu { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 160px;
}

.menu a {
  padding: 15px 0;
}

.menu a img {
  max-width: 498px;
  position: absolute;
  top: 15px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #EE9C6A;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1.5vw;
  transition: 0.3s;
}

.menu ul li:last-child {
  padding-left: 0px;
}

.menu ul li a:hover {
  color: #BC6E3E;
}

/* Introdução */

.introducao-bg {
  background: url("../img/home/introducao-bg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introducao p {
  font-style: italic;
  color: #fff;
  text-shadow: 0px 3px 6px #000000;
  max-width: 350px;
  text-align: center; 
}

.introducao p:before, .introducao p:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  box-shadow: 0px 3px 6px #4B4B4B;
  margin: 20px 0;
  margin-left: calc(50% - 30px);
}

.introducao cite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem; 
  color: #fff;
  text-shadow: 0px 3px 6px #4B4B4B;
  max-width: 350px;
}

/* Home Adoção */

.home-adocao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-img-gato {
  background: url("../img/home/adocao.jpg");
  width: 500px;
  height: 480px;
  position: relative;
}

.home-inf-gato {
  background: rgb(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  text-align: center;
}

.home-inf-gato h3 {
  padding: 20px 5px 10px;
}

.home-inf-gato p {
  font-size: 1.5rem;
  color: #fff;
  padding: 0 5px;
}

.btn-mais-inf {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  text-align: right;
  padding: 1px 8px;
  margin: 5px 0 5px 440px;
  border: solid #fff 3px;
  border-radius: 50%;
}

.btn-mais-inf:hover {
  color: #F5B994;
  border: solid #F5B994 4px;
}

.call p {
  font-style: italic;
  text-align: center;
  margin: 60px 0 30px; 
}

.home-button {
  background: #EE9C6A;
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #B8A090;
  margin: 0 auto;
  margin-bottom: 60px;
  transition: 0.2s;
}

.home-button:hover {
  background: #F5B994;
  box-shadow: 5px 5px 6px #B8A090;
}

.home-button span {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #DA8A58;
  letter-spacing: 0.1rem;
  margin-left: 8px;
}

/* Home Apadrinhamento */

.apadrinhamento {
  background: #FDF1EA;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer */

.bg-footer {
  background: #80BEAF;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  grid-gap: 103px;
}

.footer h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #222;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.footer p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

.footer li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.redes-footer {
  display: flex;
}

.redes-footer li {
  padding-right: 20px;
  padding-bottom: 40px;
}

.bg-copy {
  background: #222;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copy p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.1rem;
  color: white;
  margin: 14px 0;
}

/* Página Quem Somos */

.quem-somos-bg {
  background: url("../img/home/introducao-bg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}










